.img-user,
.cart-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 28px;
}


.cart-p1,
.cart-p2 {
    font-weight: bold;
    margin: auto;
}

.cart-data {
    font-size: small;
}

.cart {
    display: flex;
    flex-direction: column;
    border-left: 3px solid;
    margin-left: 8px;
}

.buy {
    background-color: #607D8B;
    border-radius: 15px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 1px;
    display: block;
    width: -webkit-fill-available;
}

.mobileCart-img {
    width: 35px;
    margin-right: 20px;
}

.mobileCart {
    display: none;
    position: fixed;
    top: 45px;
    right: -25px;
    width: 60px;
    height: 35px;
    background: #607D8B;
    border-radius: 46%;
    cursor: pointer;
    border: 0.5px solid;
}