.img-user, .cart-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
    .cart-img {
        margin-right: 25px;
    }
    .cart-p1{
        bottom: 25px;
        right: 50px;
    }
    .cart-p2 {
        left: 12px;
    }
.cart-p1, .cart-p2 {
    font-weight: bold;
    position: relative;
}
    .cart {
        width: 26%;
        height: 86px;
        margin-left: 25px;
        text-align: end;
    }
    .buy {
        background-color: white;
        border-radius: 15px;
        color: #e83299;
        border: none;
        font-weight: bold;
        cursor: pointer;
        margin: 8px;
    }