.img-user, .cart-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 25px;
    }
    /* .cart-img {

    } */
    .cart-p1{
        bottom: 25px;
        right: 50px;
    }
    .cart-p2 {
        left: 12px;
    }
.cart-p1, .cart-p2 {
    font-weight: bold;
    position: relative;
}
    .cart {
        width: 220px;
        height: 86px;
    }
    .buy {
        background-color: white;
        border-radius: 15px;
        color: #e83299;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }