.cartWindow {
    width: 250px;
    border: solid 2px transparent;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    transition: top 0.5s, opacity 0.5s;
    background-image: white;
    left: 213px;
}

h3 {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    background-color: #795548;
    color: black;
    /* border-radius: 15px; */
    text-align: center;
}

.cartWindow.cartOpen {
    opacity: 1;
    pointer-events: auto;
    top: 90px;
}

.cartTitle {
    background-color: #795548;
    text-align: center;
    margin: 0;
}