.categories {
    float: right;
    text-align: start;
    padding: 0;
   /* margin-top: 120px; */
}

.categories h2 {
    margin-top: 4px;
    margin-right: 100px;
    padding-left: 100px;
}
.categories-list {
    padding: 0;
    margin: 10px;
    width: 280px;
}
.categories-list li {
    background-color: #9e9e9e00;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 228ox;
    font-size: 1.4em;
}

.categories-list li:hover {
border: 1px solid black;
transform: scale(1.1)
}
