.item {
height: 200px;
width: 130px;
list-style-type: none;
border: 1px solid #eee;
background-color: white;
margin: 4px;
border-top-right-radius: 34%;
border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%;
transition: opacity 0.5s;
}
/* #item:hover ~ #item-btn {
opacity: 1;
}  */
.edit {
  animation-delay: -.05s;
  animation-duration: .27s;
 }


.item-img {
    height: 130px;
    width: 130px;
    border-top-right-radius: 50%;
}
.item-btn {
    width: 100%;
    border: none;
    background-color: #b1d426;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    height: 27px;
    opacity: 1;
}
.item p {
  color: #e83299;
  font-weight: bold;
}
.item h5 {
  font-weight: normal;
}

.item h5,.item p,.item button {
    margin: 0;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    direction: ltr;
    }
    
  /* Tooltip text */
 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    /* z-index: 1; */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media only screen and (max-width: 600px) {
    .productsList {
      height: 100% !important;
      overflow-y: auto !important;
    }
    .App, body {
      overflow: unset !important;
    }
  }




  /* .edit:nth-child(2n) {
    animation-name: keyframes1;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
}
 
.edit:nth-child(2n-1) {
    animation-name: keyframes2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
}
 
@keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}
 
@keyframes keyframes2 {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
} */