.item {
height: 200px;
width: 130px;
list-style-type: none;
border: 1px solid #eee;
background-color: white;
margin: 4px;
border-top-right-radius: 34%;
border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%;
}

.item-img {
    height: 130px;
    width: 130px;
    border-top-right-radius: 50%;
}
.item-btn {
    width: 100%;
    background-color: #00000052;
    margin-top: 11px;
    border: none;
    background-color: #b1d426;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
}
.item p {
  color: #e83299;
  font-weight: bold;
}
.item h5 {
  font-weight: normal;
}

.item h5,p,button {
    margin: 0;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    direction: ltr;
    }
    
  /* Tooltip text */
 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }