.item {
  height: 265px;
  width: 170px;
  list-style-type: none;
  border: 1px solid #eee;
  background-color: #fff;
  margin: 4px;
  border-top-right-radius: 10%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 10%;
  box-shadow: 1px 1px 8px 1px #0000002b;
  border-radius: 50%;
}

.item:hover {
  /* border-color: black; */
  transform: scale(1.05);
}

.edit {
  animation-delay: -.05s;
  animation-duration: .27s;
}


.item-img {
  height: auto;
  width: 140px;
  border-top-right-radius: 32%;
  border-top-left-radius: 32%;
  margin: auto;
  cursor: pointer;
  max-height: 140px;
}

.item-btn {
  width: 62%;
  background-color: #607d8b;
  color: #fff;
  cursor: pointer;
  height: 27px;
  padding: 0;
  opacity: 1;
  font-weight: 700;
  border: none;
  margin-right: 32px !important;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.item p {
  color: #16507e;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
}

.item h5 {
  font-weight: normal;
}

.item prop {
  font-size: x-small;
}

.item h5,
.item p,
.item button {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: ltr;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  /* z-index: 1; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.descripList span {
  color: #000;
  font-weight: 700;
}

.descripList {
  text-align: end;
  margin-left: 30px;
  margin-bottom: 30px;
}







/* .edit:nth-child(2n) {
    animation-name: keyframes1;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
}
 
.edit:nth-child(2n-1) {
    animation-name: keyframes2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
}
 */

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}