props {
    color: black;
    font-weight: bold;
    text-shadow: -4px 3px 1px rgba(0, 0, 0, .17);
}

.search {
    margin-right: 50%;
    border-radius: 20px;
    border: none;
    background: white;
    padding: 5px;
    box-shadow: 1px 1px 8px 1px #0000002b;
}