select {
    border: 0;
    width: 14px;
    background-color: transparent;
}

.img-user , p {
display: inline;
}

.user button, .btnPlus {
    background-color: white;
    border-radius: 15px;
    color: #a80909;
    border: none;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

.user {
    width: 35%;
    text-align: start;
    margin-right: 25px;
}