select {
    border: 0;
    width: 14px;
    background-color: transparent;
}

.img-user,
p {
    display: inline;
}

.user button,
.btnPlus {
    background-color: #607D8B;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #ebebeb;
    margin-left: 8px;
}

.user p {
    margin: 3px 0 0 0px;
    font-size: small;
    font-weight: bold;
}