select {
    border: 0;
    width: 14px;
    background-color: transparent;
}

.img-user,
p {
    display: inline;
}

.user button,
.btnPlus {
    background-color: #8BC34A;
    border-radius: 15px;
    color: black;
    border: none;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

.user {
    width: 35%;
    text-align: start;
    margin-right: 25px;
}