.signinBtn {
    cursor: pointer;
}
 label {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 90%;
margin: inherit;
}
.loginBtn {
    color: #e83299;
    font-weight: bold;
}

.loginForm {
    margin-bottom: 25px;
}