.signinBtn {
    cursor: pointer;
}
 label {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 90%;
margin: inherit;
}
.loginBtn {
    color: black;
    font-weight: 700;
    background-color: #fff0;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.loginForm {
    margin-bottom: 25px;
}