.signinBtn {
    cursor: pointer;
}
 label {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 90%;
margin: inherit;
}
.loginBtn {
    color: #e83299;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.loginForm {
    margin-bottom: 25px;
}