.countainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:  center ;
    align-content: space-around ;
    padding: 0;
}
.productsList h2 {
    display: inline;
}
.productsList input {
    border-radius: 5px;
    border-color: transparent;
    margin-right: 34%;
    border-radius: 20px;
    background-color: #b1d426;
    color: white
}