.countainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:  center ;
    align-content: space-around ;
    padding: 0;
}
.productsList h2 {
    display: inline;
}
.productsList input {
  
}
.productsList {
    max-width: 700px;
    float: left;
    /* padding-top: 120px; */
    height: -webkit-fill-available;
    overflow-y: scroll;
}
.productsList::-webkit-scrollbar {
    /* width: 0px; */
    background: transparent;
}
.try{
display: block;
height: 160px;
width: 100%;
}