.countainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-evenly;
    align-items:  center ;
    align-content: space-around ;
    padding: 0;
}
.title h2 {
    display: inline;
    padding-left: 45%;
}
.title input {
    border-radius: 5px;
    border-color: transparent;
}