
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    direction: rtl;
    padding: 5px;
    background-color: #b1d426;
    border-radius: 50px;
    color: white;
    /* position: fixed; */
    width: 100%;
    max-width: 1000px;
    margin-top: auto;
}




