h2 {
  text-align: start;
  color: black;
  text-shadow: -4px 3px 1px rgba(0, 0, 0, .17);
}

ul {
  list-style-type: none;
}

.component {
  margin-bottom: 81px;
}

.homepage {
  transition: opacity 1.5s;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main {
  opacity: 1;
  transition: opacity 1.5s;
  max-width: 1010px;
  margin: auto;
}

.homepage-container {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 162px;
  right: 50%;
}

.chevron {
  position: absolute;
  width: 86px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(.5, .5, .5);
  transform: scale3d(.5, .5, .5);
  -webkit-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite;
  z-index: 2;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 100px;
  margin-right: -19px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  -webkit-animation: pulse 2s linear infinite alternate;
  animation: pulse 2s linear infinite alternate;
  z-index: 2;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 600px) {

  .productsList {
    overflow-y: auto !important;
    height: 100% !important;
    background: #f5f5f5;
  }

  .App,
  body {
    overflow: unset !important;
    position: unset !important;
  }

  .categories {
    float: none !important;
  }

  .categories h2 {
    text-align: center !important;
  }


  .user {
    margin: 0 !important;
    text-align: center !important;
  }

  .cart {
    display: none;
  }

  .popup_inner {
    left: 0 !important;
    right: 0 !important;
    width: 100%;
  }

  .categories-list {
    width: auto !important;
  }

  .mobileCart {
    display: inline;
  }

  .item:hover {
    /* border-color: black; */
    transform: none;
  }

  .cartWindow {
    position: fixed;
    left: 0;
  }

  .chevron:before,
  .chevron:after {
    background: #607d8b;
  }

  .text {
    color: #607d8b;
  }

  h1,
  .text1 {
    margin: auto;
  }

  .img1,
  .home2 li {
    width: 100%;
  }

  .home2 {
    flex-direction: column-reverse;
  }

  .home1 {
    flex-direction: column;
  }
}