
 form {
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    margin-right: 15px;
    color: #a80909;
    font-weight: bold;
 }

 form input {
   border-radius: 20px;
   background-color: transparent;
   margin: 5px;
   border: 1px solid black;
 }
 form input::after {
     border-radius: 20px;
 }

 .submit {
    width: 75%;
    color: #a80909;
    cursor: pointer;
    height: 27px;
    margin: auto;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: inherit;
 }

 