.App {
  text-align: center;
  margin: auto;
max-width: 1010px;
    overflow: hidden;
    direction: rtl;
}
body {
  overflow: hidden;
  /* height: 110%; */
  background-image: linear-gradient(to bottom right, #8c9ca4 , #ffba00c9);
}




