.App {
  text-align: center;
  margin: auto;
  max-width: 1010px;
  overflow: hidden;
  direction: rtl;
}

body,
html {
  background: #f5f5f5;
  right: 0;
  left: 0;
}

body::-webkit-scrollbar {
  /* width: 0px; */
  background: transparent;
}

.zi1 {
  z-index: 1;
}

.zi0 {
  z-index: -1;
}