.cartItem {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    align-items: center;
    border: 1px solid #8BC34A;
    background: white;
}

.cartItem img {
    width: 40px;
}

.cartItem .name {
    display: block;
    width: calc(100% - 0px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.nameTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.cartBtn {
    display: flex;
}

.cartBtn button {
    border-radius: 50%;
    border: none;
    background-color: #8BC34A;
    color: black;
    height: 17px;
    width: 19px;
    margin: 1px;
    cursor: pointer;
}